table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.watermark {
  display: block;
  position: relative;
}

.watermark::after {
  content: "";
 background:url("/img/ldii.png");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}